[settings]
provider = "native"

[relaychain]
default_command = "{{ZOMBIENET_RELAYCHAIN_COMMAND}}"
chain = "rococo-local"

  [[relaychain.nodes]]
  name = "relay1"
  ws_port = 9944
  validator = true

  [[relaychain.nodes]]
  name = "relay2"
  validator = true

[[parachains]]
id = 2900
cumulus_based = true
chain = "local"
force_decorator = "generic-evm"

  [[parachains.collators]]
  name = "laos"
  ws_port = 9999
  command = "{{ZOMBIENET_LAOS_COMMAND}}"
  validator = true

  [[parachains.collators]]
  name = "laos-1"
  ws_port = 10000
  command = "{{ZOMBIENET_LAOS_COMMAND}}"
  validator = true

  [[parachains.collators]]
  name = "laos-2"
  ws_port = 10001
  command = "{{ZOMBIENET_LAOS_COMMAND}}"
  validator = true

# TODO uncomment when XCM needs to be tested again
# [[parachains]]
# id = 2008
# cumulus_based = true
# chain = "astar-dev"

#   [[parachains.collators]]
#   name = "astar"
#   ws_port = 9998
#   command = "{{ZOMBIENET_ASTAR_COMMAND}}"
#   validator = true
#   args = ["-lxcm=trace,debug"]
