name: E2E Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on:
      group: laos
      labels: ubuntu-16-cores
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/cache
        with:
          cache-key: build_and_push

      - name: Build
        run: |
          cargo build --release --locked

      - name: Copy polkadot relay chain binary
        run: |
          wget https://github.com/paritytech/polkadot/releases/download/v0.9.42/polkadot
          chmod +x ./polkadot
      - name: Copy Astar parachain binary
        run: |
          wget https://github.com/AstarNetwork/Astar/releases/download/v5.23.0/astar-collator-v5.23.0-ubuntu-x86_64.tar.gz
          tar xf astar-collator-v5.23.0-ubuntu-x86_64.tar.gz
          chmod +x ./astar-collator

      - name: Copy zombienet binary
        run: |
          wget https://github.com/paritytech/zombienet/releases/download/v1.3.106/zombienet-linux-x64
          chmod +x ./zombienet-linux-x64

      - name: Run zombienet
        run: |
          export ZOMBIENET_RELAYCHAIN_COMMAND=./polkadot
          export ZOMBIENET_LAOS_COMMAND=./target/release/laos
          export ZOMBIENET_ASTAR_COMMAND=./astar-collator
          ./zombienet-linux-x64 spawn ./zombienet/native.toml -p native &
          echo "Zombienet started"

      - name: Wait for zombienet
        run: |
          timeout 36 sh -c 'until nc -z $0 $1; do echo -n .; sleep 1; done' localhost 9999

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm install
        working-directory: ./e2e-tests

      - name: Run e2e tests
        run: |
          npm run build && npm run test
        working-directory: ./e2e-tests
