name: Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      proceed: ${{ steps.check_version.outputs.proceed }}
    steps:
      - uses: actions/checkout@v3
      - id: check_version
        run: |
          VERSION=$(grep -m1 version Cargo.toml | sed -E 's/.*"(.*)".*/\1/')
          if [ "v$VERSION" == "${{ github.ref_name }}" ]; then
            echo "::set-output name=proceed::true"
          else
            echo "Version in Cargo.toml ($VERSION) does not match current tag ${{ github.ref_name }}. Canceling release..."
            echo "::set-output name=proceed::false"
          fi

  dockerize:
    needs: check-version
    if: needs.check-version.outputs.proceed == 'true'
    runs-on: 
      group: laos
      labels: ubuntu-16-cores
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/cache
        with:
          cache-key: build_and_push
      - name: Build
        run: |
          cargo build --release
      - name: Log in to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Push image ownership node
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          file: ./docker/ownership-node.local.Dockerfile
          tags: freeverseio/laos-ownership-node:${{ github.ref_name }}
      - name: Upload LAOS Wasm Binaries
        run: |
            echo "Uploading LAOS wasm binary for release ${{ github.ref_name }}"
            gh release upload ${{ github.ref_name }} ./target/release/wbuild/laos-ownership-runtime/laos_ownership_runtime.compact.compressed.wasm
      - name: Upload KLAOS Wasm Binaries
        run: |
            echo "Uploading KLAOS wasm binary for release ${{ github.ref_name }}"
            gh release upload ${{ github.ref_name }} ./target/release/wbuild/klaos-ownership-runtime/klaos_ownership_runtime.compact.compressed.wasm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}