name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  dockerize:
    runs-on: 
      group: laos
      labels: ubuntu-16-cores
    strategy:
      matrix:
        docker_name: ['evolution-node.local', 'ownership-node.local', 'bridge.local']
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/cache
        with:
          cache-key: build_and_push
      - name: Build
        run: |
          cargo build --release

      - name: Log in to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push images
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          file: ./docker/${{ matrix.docker_name }}.Dockerfile
          tags: freeverseio/laos-${{ matrix.docker_name }}:${{ github.ref_name }}
